body {
    display: grid;
    grid-template-areas: 
      "header"
      "content sidebar"
      "footer";
    grid-template-rows: 80px 1fr 70px; 
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  
  header {
    grid-area: header;
    background: lightblue;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 10px;
  }
  
  aside {
    grid-area: sidebar; 
  }
  
  main {
    grid-area: content;  
  }
  
  footer {
    grid-area: footer;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center; 
  }